.cart{
    margin-bottom: 20px;
    .w{
        width: 990px;
        margin: 0 auto;
        .cart-top{
            margin-top: 20px;
            .cart-foot-left{
                font-weight: 900;
                color: #e4393c;
                font-size: 16px;
                height: 26px;
                line-height: 26px;
            }
            .footline{
                width: 80px;
                height: 2px;
                background-color: #e4393c;
                margin-top: -3px;
            }
        }

        .cart-wrap{
            width: 100%;
            .jd-cart{
                width: 100%;
                
            }
            .floatbar{

            }
        }
    }
}